<div class="sidebar" data-color="purple" data-background-color="white" data-image="../../../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      TRELLO.MG
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active">
          <a class="nav-link" href="./tables.html">
            <i class="material-icons">content_paste</i>
            <p>Tableaux</p>
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="./dashboard.html">
          <i class="material-icons">dashboard</i>
          <p>Accueil</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./user.html">
          <i class="material-icons">person</i>
          <p>Équipes</p>
        </a>
      </li>
      <li class="nav-item " >
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="material-icons">bubble_chart</i>
          <p>Créer une équipe</p>
        </a>
      </li>
      
    </ul>
  </div>
</div>