    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header clear-filter">
      <div class="page-header-image" style="background-image: url('../../assets/img/cover.jpg');"></div>
      <div class="content-center">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1 class="title">
                Trello.mg
            </h1>
            <h3 class="description">Please Sign In</h3>
            <br/>
            <form (ngSubmit)="authenticate()" class="navbar-form" #bookForm="ngForm">
                <div class="input-group no-border">
                    <input type="mail" [(ngModel)]="userForm.mailAddress" name="mailAddress" value="" class="form-control" placeholder="Username" style="color: #ffffff; text-align: center">
                  </div>
                <div class="input-group no-border">
                    <input type="password" [(ngModel)]="userForm.password" name="password" value="" class="form-control" placeholder="Password" style="color: #ffffff; text-align: center">
                </div>
                <div class="input-group no-border">
                  <button type="submit" class="btn sign-in btn-primary btn-round btn-lg">SIGN IN</button>
                  
                </div>  
            </form>
            
          </div>
        </div>
      </div>
    </div>
    <!--<footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>, made with <i class="material-icons">favorite</i> by
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
      </div>
    </footer> -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="../../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../../assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../../assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../../assets/demo/demo.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
