<div class="row">
<div class="col-md-8">
  <div *ngFor="let equipe of equipes; let j = index">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-no-content">
        <div class="card-header card-header-block card-header-warning">
          <h4 class="card-title card-title-block">{{ equipe.val }}</h4>
          <p class="card-category card-category-block">Created at {{ equipe.created_date }}</p>
          <i class="material-icons float-right settings-block">settings</i>
          <a class="btn btn-primary btn-round new-tab button-text-white float-right"  data-toggle="modal" data-target="#tableau-{{j}}" (click)="showmodal(j)">Créer un tableau ...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let tableau of equipe.tableaux; let i = index">
      <div class="card card-stats">
        <div class="card-header card-header-{{ getColor(i) }} card-header-icon">
          <div class="card-icon">
            <i class="material-icons">content_copy</i>
          </div>
          <p class="card-category">{{ tableau.val }}</p>
          <h3 class="card-title">
            <small>{{ tableau.desce }}</small>
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-danger">star_border</i>
            <a href="#pablo">Ajouter favoris</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  class="modal fade modal-tableau" id="tableau-{{j}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Créer un tableau pour {{ equipe.val }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <form (ngSubmit)="createTableau()">
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label class="bmd-label-floating">Titre</label>
                              <input type="text" [(ngModel)]="tableauCreate.val" name="tableauCreate.val"  class="form-control">
                          </div>
                      </div>
                      <div class="col-md-12">
                            <div class="form-group">
                            <div class="form-group">
                                <label class="bmd-label-floating"> Description (Optionnelle)</label>
                                <textarea class="form-control" [(ngModel)]="tableauCreate.desce" name="tableauCreate.val" rows="5"></textarea>
                            </div>
                            </div>
                        </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="bmd-label-floating">Équipe</label>
                              <select class="form-control" [(ngModel)]="tableauCreate.equipeId" name="tableauCreate.equipeId">
                                <option *ngFor="let equipe_1 of equipes" [selected]="equipe_1._id === equipe._id" [value]="equipe._id"> 
                                  {{ equipe_1.val }}
                                </option>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="form-group">
                              <label class="bmd-label-floating">Visible par les membres d'une équipe</label>
                              <select class="form-control" [(ngModel)]="tableauCreate.securite._id" name="tableauCreate.securite._id">
                                <option *ngFor="let securite of securites" [value]="securite._id"> {{ securite.val }}</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  <button type="submit" class="btn btn-primary">Enregistrer</button>
              </div>
          </form>
          </div>
      </div>
  </div>
  </div>
</div>
<div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#pablo">
          <img class="img" src="../../assets/img/faces/marc.jpg" />
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
        <h4 class="card-title">Alec Thompson</h4>
        <p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
        </p>
        <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
      </div>
    </div>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Créer une équipe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form (ngSubmit)="createEquipe()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Titre</label>
                            <input type="text" [(ngModel)]="equipeCreate.val" name="equipeCreate.val"  class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                        <div class="form-group">
                            <label class="bmd-label-floating"> Description (Optionnelle)</label>
                            <textarea class="form-control" [(ngModel)]="equipeCreate.desce" name="equipeCreate.val" rows="5"></textarea>
                        </div>
                        </div>
                    </div>
                </div>
                <p>Une équipe est un groupe de tableaux et de personnes. Utilisez-la pour garder votre entreprise, votre side hustle, votre famille ou vos amis organisés.  </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
        </div>
    </div>
</div>


