<div class="wrapper" *ngIf="isLoggedIn;else other_content">
    <app-menu></app-menu>
    <div class="main-panel">
        <app-header></app-header>
        <div class="content">
            <div class="container-fluid">
                    <div *ngIf="isLoading">
                        <div id="overlay">
                            <div class="lds-css ng-scope">
                                <div class="lds-spinner" style="width : 100%;height:100%">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <router-outlet></router-outlet>
                    
            </div>
        </div>
        
    </div>
</div>
<ng-template #other_content><router-outlet></router-outlet></ng-template>

